/* Remove default outline and box-shadow for focused and active buttons */
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Styling for pre element */
pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f0f4f8; /* Lighter blue-gray background */
  border-radius: 6px;
}

/* Hover effect for primary button */
.btn-primary:hover {
  background-color: purple !important; /* Purple color */
}

/* Responsive design for footer at max-width: 768px */
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}

/* Styling for top pane */
.pane.pane-top {
  background-color: #2c3038; /* Dark gray background */
  padding-left: 5px !important;
  padding-right: 5px !important;
  justify-content: center !important;
}

/* Styling for editor language */
.editor-lang {
  padding: 10px !important;
}

/* Styling for editor text */
.editor-text {
  text-align: center;
  background-color: #313033; /* Dark gray background */
  color: #faf2c2; /* Cream color */
  font-size: 1.2em;
  line-height: 2;
  justify-content: center;
}

/* Styling for output pane */
.output-pane {
  left: 0;
  border: 0px solid;
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #ffffff; /* White background */
  padding-bottom: 20px;
}

/* Styling for footer */
.footer {
  background-color: #040b0f !important; /* Dark blue background */
  position: fixed;
  bottom: 0;
  height: 36px;
  color: #f6e1bc; /* Light cream color */
  text-align: center;
  line-height: 2.5;
  justify-content: center !important;
}
